* {
  box-sizing: border-box;
  overflow: none;
}

html {
  overflow: none;
  margin: 0;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: "Anton", sans-serif;
  background: $color-background;
  color: $color-primary;
}

button {
  background: $color-background;
  border-radius: 5px;
  height: 2rem;
  width: 10rem;
  font-weight: bold;
  color: $color-primary;
}

button:hover {
  border: 3px solid $color-background;
}

a,
label,
h1,
h2,
h3,
h4,
p,
li {
  color: $color-background;
}

.form {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.form-no-accordion {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding: 1rem;
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  border-top: 0;
}

.p-field > label,
.p-formgroup-inline .p-field > label,
.p-formgroup-inline .p-field-checkbox > label,
.p-formgroup-inline .p-field-radiobutton > label {
  color: $color-primary;
}

.p-fieldset .p-fieldset-legend {
  border: none;
  background-color: white;
  font-weight: 700;
}

input[type="file"] {
  background: $color-background;
  display: flex;
  align-items: center;

  border-radius: 5px;
  height: 2rem;
  width: auto;
  font-weight: bold;
  color: $color-primary;
  border: 2px solid $color-primary;
}

input[type="file"]:hover {
  border: 2px solid $color-background;
}

.detail_info {
  color: $color-primary;
}
