<nav class="main-nav">
  <ul class="main-nav__items">
    <li class="main-nav__item" routerLinkActive="active" *ngIf="isAuthenticated">
      <a (click)="onWorkers()">Workers</a>
    </li>
    <li class="main-nav__item" routerLinkActive="active" *ngIf="isAuthenticated">
      <a routerLink="/templates">Templates</a>
    </li>
    <li class="main-nav__item" routerLinkActive="active" *ngIf="!isAuthenticated">
      <a routerLink="/auth">Authenticate</a>
    </li>
  </ul>
  <ul class="main-nav__items">
    <li class="main-nav__item" *ngIf="isAuthenticated">
      <a routerLink="/auth" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</nav>
