<p>list-worker works!</p>
<button [routerLink]="['./', 'new']">New Worker</button>

<ul *ngFor="let worker of workers$ | async">
  <li>{{worker.firstName}} {{worker.lastName}}
    <button (click)="onEdit(worker)">Edit</button>
    <button (click)="onCreateDoc(worker)">New Document</button>
    <button (click)="onDelete(worker)">Delete</button>
    <button (click)="onShowFiles(worker)">Files</button>
  </li>
</ul>
<hr>
<div *ngIf="displayFiles">
  <app-list-document></app-list-document>
</div>
<div *ngIf="displayCreateDoc">
  <app-doc-worker></app-doc-worker>
</div>
<div *ngIf="displayEditForm">
  <app-update-worker></app-update-worker>
</div>
