<p>list-worker works!</p>
<button [routerLink]="['./', 'new']">New Worker</button>

<ul *ngFor="let worker of workers">
  <li>{{worker.firstName}} {{worker.lastName}}
    <button [routerLink]="['./', worker._id, 'edit']">Edit</button>
    <button [routerLink]="['./', worker._id, 'doc']">Create Contract</button>
    <button (click)="onDelete(worker)">Delete</button>
    <button (click)="showFiles(worker)">Files</button>
  </li>
</ul>
<hr>
<div *ngIf="displayFiles">
  <app-list-document></app-list-document>
</div>
