<!-- <a (click)="onClose()">close</a>
<h3 *ngIf="store$ | async"> {{worker.firstName}} {{worker.lastName}} </h3> -->




<div class="component-container">
  <div class="component-header">
    <div class="header-heading">
      <div *ngIf="store$ | async"> </div>
      <h3>Files</h3>
    </div>
  </div>
  <div class="component-header">
    <div class="header-buttons">
      <button (click)="onNewFile()">New File</button>
    </div>
  </div>

  <div class="component-main">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
      <ul *ngFor="let document of documents$ | async">
        <li>
          <section class="package">
            <a (click)="onDetail(document)">
              <h1 class="package__title">{{document.filePdf}}</h1>
              <h2 class="package__subtitle">{{document.name}}</h2>
            </a>
          </section>
        </li>
      </ul>
    </p-scrollPanel>
  </div>

</div>
