.form {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

label,
H4 {
  color: black;
}

.p-fieldset .p-fieldset-legend {
  border: none;
  background-color: white;
  font-weight: 700;
}

.p-accordion {
  height: 275px;
  display: block;
  overflow: scroll;
}
