/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
  background: #b6bdc2;
  color: #12232e;
}

.container {
  margin: 1px;
  height: 98vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 1px;
}

.header-container {
  grid-area: header;
  border: 1px solid black;
  background: #12232e;
  // padding: 1rem;
  border-radius: 5px;
}

.main-container {
  grid-area: main;
  border: 1px solid black;
  background: #203647;
  font-family: sans-serif;
  // padding: 1rem;
  border-radius: 5px;
}

.footer-container {
  grid-area: footer;
  border: 1px solid black;
  background: #12232e;
  font-family: sans-serif;
  // padding: 1rem;
  border-radius: 5px;
}

button {
  background: #b6bdc2;
  border-radius: 5px;
  height: 2rem;
  width: 10rem;
  font-weight: bold;
  color: #12232e;
}

button:hover {
  border: 2px solid white;
}

a,
label,
h1,
h2,
h3,
h4,
p,
li {
  color: #b6bdc2;
}
